body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

button {
    background: #22c55e;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

pre {
    background: #020617;
    padding: 15px;
    margin-top: 15px;
    overflow-x: auto;
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #1e293b;
    padding: 10px;
    text-align: center;
}

th {
    background: #020617;
    color: #22c55e;
    text-transform: capitalize;
}

tr:nth-child(even) {
    background: #020617;
}

h3 {
    margin-top: 25px;
    color: #38bdf8;
}
